        <!--begin::Modal - Add configs-->
<div class="modal fade" tabindex="-1" id="kt_modal_Add_Edit_Configs">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add configs</h5>
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <form class="form-horizontal" role="form" id="frmMaintainance">
                    <input type="hidden" id="hidId" value="0" />
                    <table class="table table-row-dashed table-row-gray-300 gy-7">
                        <tbody>                          
                            <tr>
                                <td style="font-weight:500">Name</td>
                                <td> <input readonly="readonly" name="txtName" id="txtName" class="form-control" type="text" /></td>
                            </tr>
                            <tr>
                                <td style="font-weight:500">Value</td>
                                <td> <input name="numValue" id="numValue" class="form-control numberFormat" type="text" /></td>
                            </tr>
                            <tr>
                                <td style="font-weight:500">Description</td>
                                <td> <textarea readonly="readonly" name="txtDes" id="txtDes" class="form-control"></textarea></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button name="btnSave" id="btnSave"  type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal - Add configs-->