@{
    ViewBag.Title = "Users Show";
}

@section Scripts{
    <script src="~/admin-app/controllers/user/usershow.js" asp-append-version="true"></script>

    <script>
        var customerObj = new CustomerController();
        customerObj.initialize();
    </script>
}

@section Styles{
    <link href="~/admin-app/controllers/user/customers.css" rel="stylesheet" asp-append-version="true" />
}

<div class="d-flex flex-column flex-column-fluid">

    @await Html.PartialAsync("_ToolbarPartial")

    <div id="kt_app_content" class="app-content flex-column-fluid pt-6 pt-lg-10">
        <div id="kt_app_content_container" class="app-container container-xxl">
            <div class="row gx-5 gx-xl-10">
                <div class="col-xl-12 mb-5 mb-xl-10">
                    <div class="card mb-5 mb-xl-10">
                        <div class="card-body py-3">
                            <form class="form" action="/admin/user/ImportShowUser" enctype="multipart/form-data" method="post">
                                <h3>@ViewBag.Msg</h3>

                                <input type="hidden" id="hidId" value="0" />

                                <div class="d-flex flex-column mb-8 fv-row">
                                    <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                        <span class="required">File Import</span>
                                    </label>
                                    <input type="file" class="form-control form-control-solid" name="file" />
                                </div>

                                <div class="text-center">
                                    <a href="/admin/user/ImportShowUser" class="btn btn-light me-3">Cancel</a>
                                    <button type="submit" id="btnSave" class="btn btn-primary">
                                        <span class="indicator-label">Submit</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header pt-5">
                            <div class="card-toolbar">
                                <div class="d-flex flex-stack flex-wrap gap-4">
                                    <div class="position-relative my-1">
                                        <span class="svg-icon svg-icon-2 position-absolute top-50 translate-middle-y ms-4">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                        <input type="text" class="form-control form-control-solid form-control-sm
                                    w-150px fs-7 ps-12" id="txt-search-keyword" placeholder="Search keyword" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                    <thead>
                                        <tr class="fw-bolder text-muted">
                                            <th class="">
                                                <span class="d-block">Sponsor</span>
                                                <span class="d-block">Email</span>
                                                <span class="d-block">Wallet Address</span>
                                            </th>
                                            <th class="">USDT</th>
                                            <th class="">BNB</th>
                                           
                                            <th class="">Created Date</th>
                                            <th class="min-w-225px">Function</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl-content"></tbody>
                                </table>
                            </div>
                            @await Component.InvokeAsync("Paging")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="./Partials/_UserSetting.cshtml" />

<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>
            <span class="text-dark fw-bolder d-block fs-6">{{Sponsor}}</span>
            <span class="text-dark fw-bold d-block fs-6">{{Email}}</span>
            <span class="text-muted fw-bolder d-block fs-6">{{BEP20PublishKey}}</span>
        </td>
        <td>
            <span class="text-dark fw-bolder text-hover-primary d-block fs-6">{{{USDT}}}</span>
        </td>
        <td>
            <span class="text-dark fw-bolder text-hover-primary d-block fs-6">{{{BNB}}}</span>
        </td>
        
        <td>
            <span class="text-dark fw-bolder text-hover-primary d-block fs-6">{{DateCreated}}</span>
        </td>
        <td>
            <a data-id="{{Id}}" class="btn-delete btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><i class="fas fa-remove"></i></a>
            <a data-id="{{Id}}" class="btn-edit btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><i class="fas fa-cog"></i></a>
            <a data-id="{{Id}}" class="btn-wallet btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><i class="fas fa-wallet"></i></a>
            <a data-id="{{Id}}" class="btn-activate btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><i class="fas fa-user-check"></i></a>
            <a data-id="{{Id}}" style="display:{{IsDisplayLock}}" class="btn-unlock btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><i class="fas fa-unlock"></i></a>
            <a data-id="{{Id}}" style="display:{{IsDisplayUnLock}}" class="btn-lock btn btn-icon btn-bg-light btn-active-color-primary btn-sm"><i class="fas fa-lock"></i></a>
        </td>
    </tr>
</script>
@await Html.PartialAsync("_WalletModal")