<div class="card card-flush" data-theme="dark"
     style="background: url('/images/bg/airdropbackground.webp');background-repeat:no-repeat;background-size:cover">
    <div class="card-header py-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-primary fs-5">Airdrop <span class="text-dark">Event</span></span>
            <span class="text-dark pt-2 fw-semibold fs-5">Get 10 USDT to your Wallet USDT as soon as you complete simple system tasks</span>
        </h3>
    </div>
    <div class="card-body" style="background: #1e1e2db5;">
        <div class="row align-items-center h-100">
            <div class="col-xl-8">
                <div class="row g-0 mb-10 mb-xl-10">
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-5 me-2">
                            <div class="symbol symbol-40px me-3">
                                <div class="symbol-label bg-light-primary">
                                    <span class="svg-icon svg-icon-1 svg-icon-dark">
                                        <img src="~/admin-side/demo1/dist/assets/media/svg/brand-logos/telegram.svg" width="24" />
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div class="fs-6 text-dark fw-bold lh-1">HeBeTo Community</div>
                                <div class="fs-6 text-dark fw-semibold">
                                    Join HeBeTo Community will receive 3 USDT.
                                    <a href="@(CommonConstants.TELEGRAM_COMMUNITY)" target="_blank" class="text-warning">Link connect</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-5 me-2">
                            <div class="symbol symbol-40px me-3">
                                <div class="symbol-label bg-light-primary">
                                    <span class="svg-icon svg-icon-1 svg-icon-dark">
                                        <img src="~/admin-side/demo1/dist/assets/media/svg/brand-logos/telegram-2.svg" width="24" />
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div class="fs-6 text-dark fw-bold lh-1">HeBeTo Official</div>
                                <div class="fs-6 text-dark fw-semibold">
                                    Join HeBeTo Official will receive 3 USDT.
                                    <a href="@(CommonConstants.TELEGRAM_OFFICIAL)" target="_blank" class="text-warning">Link connect</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-5 me-2">
                            <div class="symbol symbol-40px me-3">
                                <div class="symbol-label bg-light-primary">
                                    <span class="svg-icon svg-icon-1 svg-icon-dark">
                                        <img src="~/admin-side/demo1/dist/assets/media/svg/brand-logos/facebook-3.svg" width="24" />
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div class="fs-6 text-dark fw-bold lh-1">HeBeTo Fanpage</div>
                                <div class="fs-6 text-dark fw-semibold">
                                    Like HeBeTo Fanpage will receive 4 USDT.
                                    <a href="@(CommonConstants.FB_OFFICIAL)" target="_blank" class="text-warning">Link Connect</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap-2 mb-10">
                    <a href="/admin/airdrop/index" class="btn btn-success flex-shrink-0 me-2">Mission Confirm</a>
                    <a href="/admin/airdrop/index" class="btn btn-warning flex-shrink-0 text-black">Reward</a>
                </div>
            </div>
        </div>
    </div>
</div>