@{

}

<div class="page-title d-flex flex-column justify-content-center flex-wrap mb-6 pt-6">
    <h1 class="page-heading d-flex text-dark fw-bold fs-5 flex-column justify-content-center my-0">
        Team DEV
    </h1>
    <span class="text-gray-400 mt-1 fw-semibold fs-6">Development Core Team</span>
</div>

<div class="row g-6 mb-6 g-xl-9 mb-xl-9">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body d-flex flex-center flex-column py-6 px-5">
                <div class="symbol symbol-200px symbol-circle mb-3">
                    <img src="~/images/team/MerraleeNoble.webp" />
                </div>

                <a href="https://www.linkedin.com/in/merralee-noble-32a511257/"
                   class="fs-4 text-gray-800 text-hover-primary fw-bold mb-0"
                   target="_blank">Merralee Noble</a>

                <div class="fw-bolder text-gray-700 mb-4">Founder</div>

                <a href="https://www.linkedin.com/in/merralee-noble-32a511257/" 
                   class="btn btn-sm btn-light-primary" target="_blank">
                    <span class="svg-icon following svg-icon-3">
                        <img src="~/admin-side/demo1/dist/assets/media/svg/brand-logos/linkedin-2.svg" />
                    </span>
                    <span class="indicator-label">Follow</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body d-flex flex-center flex-column py-6 px-5">
                <div class="symbol symbol-200px symbol-circle mb-3">
                    <img src="~/images/team/MearaArmstrong.webp" />
                </div>

                <a href="https://www.linkedin.com/in/meara-armstrong-2a0499257/"
                   class="fs-4 text-gray-800 text-hover-primary fw-bold mb-0"
                   target="_blank">Meara Armstrong</a>

                <div class="fw-bolder text-gray-700 mb-4">CEO</div>

                <a href="https://www.linkedin.com/in/meara-armstrong-2a0499257/"
                   class="btn btn-sm btn-light-primary" target="_blank">
                    <span class="svg-icon following svg-icon-3">
                        <img src="~/admin-side/demo1/dist/assets/media/svg/brand-logos/linkedin-2.svg" />
                    </span>
                    <span class="indicator-label">Follow</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body d-flex flex-center flex-column py-6 px-5">
                <div class="symbol symbol-200px symbol-circle mb-3">
                    <img src="~/images/team/NormaMolina.webp" />
                </div>

                <a href="https://www.linkedin.com/in/norma-molina-59550a257/"
                   class="fs-4 text-gray-800 text-hover-primary fw-bold mb-0"
                   target="_blank">Norma Molina</a>

                <div class="fw-bolder text-gray-700 mb-4">Adviser</div>

                <a href="https://www.linkedin.com/in/norma-molina-59550a257/" 
                   class="btn btn-sm btn-light-primary" target="_blank">
                    <span class="svg-icon following svg-icon-3">
                        <img src="~/admin-side/demo1/dist/assets/media/svg/brand-logos/linkedin-2.svg" />
                    </span>
                    <span class="indicator-label">Follow</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body d-flex flex-center flex-column py-6 px-5">
                <div class="symbol symbol-200px symbol-circle mb-3">
                    <img src="~/images/team/HannyLowe.webp" />
                </div>

                <a href="https://www.linkedin.com/in/hanny-lowe-27b54a256/"
                   class="fs-4 text-gray-800 text-hover-primary fw-bold mb-0"
                   target="_blank">Hanny Lowe</a>

                <div class="fw-bolder text-gray-700 mb-4">Investor & Adviser</div>

                <a href="https://www.linkedin.com/in/hanny-lowe-27b54a256/" 
                   class="btn btn-sm btn-light-primary" target="_blank">
                    <span class="svg-icon following svg-icon-3">
                        <img src="~/admin-side/demo1/dist/assets/media/svg/brand-logos/linkedin-2.svg" />
                    </span>
                    <span class="indicator-label">Follow</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body d-flex flex-center flex-column py-6 px-5">
                <div class="symbol symbol-200px symbol-circle mb-3">
                    <img src="~/images/team/MelissaTorres.webp" />
                </div>

                <a href="https://www.linkedin.com/in/melissa-torres-35515a258/"
                   class="fs-4 text-gray-800 text-hover-primary fw-bold mb-0"
                   target="_blank">Melissa Torres</a>

                <div class="fw-bolder text-gray-700 mb-4">Investor & Adviser</div>

                <a href="https://www.linkedin.com/in/melissa-torres-35515a258/"
                   class="btn btn-sm btn-light-primary" target="_blank">
                    <span class="svg-icon following svg-icon-3">
                        <img src="~/admin-side/demo1/dist/assets/media/svg/brand-logos/linkedin-2.svg" />
                    </span>
                    <span class="indicator-label">Follow</span>
                </a>
            </div>
        </div>
    </div>

</div>
